#container {
    width: 100%;
}

.menu-sobre {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 100px;
}

.menu-sobre ul {
    display: flex;
    gap: 30px;
}

.menu-sobre ul li {
    list-style: none;
}

.menu-sobre ul li a {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #e0e0e0;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.menu-sobre ul li a.active,
.menu-sobre ul li a:hover {
    background-color: #a60000;
    color: white;
}

.sobre-banner {
    display: block;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-home img {
    width: 100%;
    height: 500px;
}

.image-home {
    background-color:#000000;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.line-p {
    width: 22%;
    height: 4px;
    background-color: #a60000;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.line-p2 {
    width: 33.4%;
    height: 4px;
    background-color: #a60000;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.line-separar {
    background-color: #a60000;
    height: 4px;
    width: 400px;
    display: center;
    margin: auto;
    border-radius: 14px;
}

.titulos-conteudos {
    margin-right: 800px;
}

.align-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.foto-carreira {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

.img-text {
    width: 290px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}