

.resumo-grafico {
    margin-left: 13px;
}

.resumo-grafico p {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 13px
}

.grafico {
    margin-bottom: 150px;
}

.grafico img {
    width: 700px;
}

.dica-img img {
    width: 300px;
}

.dicas-img-txt {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    width: 100%;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}

.align {
    margin-left: 18%;
}
.dica-txt p {
    width: 50%;
}

/* Tablet */

@media (max-width: 768px){

}

/* Celular */

@media (max-width: 480px) {
    .grafico img {
    width: 300px;
    }
    .align {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    .dicas-img-txt {
        display: flex;
        flex-direction: column-reverse;
    }
    .dicas-img-txt p {
        width: 30%;
    }
    .dica-txt {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .dica-txt p {
        width: 100%;
    }
}