

.resumo-grafico p {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 13px
}

.grafico {
    margin-bottom: 150px;
}

.grafico img {
    width: 700px;
}

.dica-img img {
    width: 300px;
}

.dicas-img-txt {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    width: 800px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}

.align {
    margin-left: 438px;
}