@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --hover-header: #000000;
    --header-color: #e30613;
    --text-color: #ffffff;
    --secondary-color: #ffffff;
    --secondary-color-red: #a60000;
}

#container {
    width: 100%;
}

header {
    background-color: var(--header-color);
    display: flex;
    height: 5rem;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.image-header {
    width: 30%;
}

.image-header img {
    width: 70%;
    margin-left: 20px;
}

.line {
    width: 20%;
    height: 60%;
}

.line .traco {
    width: 0.6%;
    height: 100%;
    background-color: var(--secondary-color);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    width: 34%;
}

.nav-bar li a {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-bar li a:hover {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color-red);
    transition: 0.3s ease-in-out;
}

#container {
    width: 100%;
}

.menu-sobre {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.menu-sobre ul {
    display: flex;
    gap: 30px;
}

.menu-sobre ul li {
    list-style: none;
}

.menu-sobre ul li a {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgb(238, 238, 238);
    color: #333;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    box-shadow:  0 0 0.3em  rgb(43, 43, 43);
}

.menu-sobre ul li a.active,
.menu-sobre ul li a:hover {
    background-color: var(--secondary-color-red);
    color: var(--secondary-color);
}
.menu-sobre ul li:hover {
    transform: scale(1.1);
}


.sobre-banner {
    display: block;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-home img {
    width: 100%;
    height: 100%;
}

.image-home {
    background-color:var(--hover-header);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 39rem;
}

.line-p2 {
    width: 33.4%;
    height: 4px;
    background-color: var(--secondary-color-red);
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.line-separar {
    background-color: var(--secondary-color-red);
    height: 4px;
    width: 400px;
    display: center;
    margin: auto;
    border-radius: 14px;
}

.titulo-participantes {
    display: flex;
    margin-top: 100px;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    border-bottom: 3px solid var(--secondary-color-red);
}

.titulos-conteudos {
    display: flex;
    margin-bottom: 40px;
}

footer {
    background-color: var(--secondary-color-red); 
    padding: 0; 
    margin: 0; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
    margin-top: 40px;

}
.social-media-container {
    background-color: var(--header-color); 
    padding: 10px; 
    border-radius: 5px;
    margin-bottom: -5px; 
}

.social-media-container :hover {
    transform: scale(1.09);
    
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px; 
    background-color: var(--header-color);
    padding: 10px;
    border-radius: 5px;
    width: calc(100% + 20px);
    margin: 0 -10px;     
    box-sizing: border-box; 
}

.social-icon {
    width: 30px; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}
.addresses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px 0; 
}

.address {
    flex: 1;
    max-width: 300px; 
    text-align: center;
    padding: 10px; 
}

.divider {
    width: 2px;
    height: 60px;
    background-color: var(--secondary-color);
    margin-left: 10px;
    margin-right: 10px;
}

.menu-mobile ul{
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 82px;
    right: 0;
    width: 405px;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 0;
    z-index: 2;
}

.menu-mobile.abrir ul {
    visibility: visible;
    height: calc(55% - 7px);
}

.menu-mobile ul li:hover{
    background-color: var(--secondary-color-red);
}

.menu-mobile ul li {
    display: block;
    padding: 10px ;
    font-size: 16px ;
    text-align: center;
}

.menu-mobile ul li a{
    color: var(--secondary-color);
    text-decoration: none;
}

#btn-menu{
    width: 45px;
    height: 45px;
    border: 0px solid var(--header-color);
    background: transparent;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

.linha{
    width: 40px;
    height: 3px;
    background-color: var(--secondary-color);
    display: block;
    margin: 10px auto;
    position: relative;
    transform-origin: center;
    transition: .2s;
}

#btn-menu.ativo .linha:nth-child(1){
    transform: translateY(12px) rotate(-45deg);
    background-color: var(--secondary-color);
}

#btn-menu.ativo .linha:nth-child(3){
    transform: translateY(-15px) rotate(45deg);
    background-color: var(--secondary-color);
}

#btn-menu.ativo .linha:nth-child(2){
    width: 0;
    height: 4px;
}

#btn-menu.ativo{
    border: 0px solid var(--header-color);
}

/* Tablet */

@media (max-width: 768px){
    .image-home {
        height: 20rem;
    }
    .menu-sobre {
        height: 10rem;
        margin-top: 5rem;
    }
    .menu-sobre ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem
    }
    .menu-sobre ul li a{
        height: 2.5rem;
        text-align: center;
        width: 100%;
    }
    .menu-sobre ul li {
        width: 100%;
        display: flex;
    }
    nav {
        width: 100%;
    }
    .line-separar {
        display: none;
    }
    .nav-bar {
        gap:1rem;
    }
    .line {
        width: 4%;
    }
    #btn-menu{
        right: 10px;
    }

}

/* Celular */

@media (max-width: 480px) {
    .image-home {
        height: 15rem;
    }
    .menu-sobre {
        height: 10rem;
    }
    .menu-sobre ul{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu-sobre ul li a{
        height: 3rem;
        width: 100%;
        text-align: center;
    }
    .menu-sobre ul li {
        width: 100%;
        display: flex;
    }
    nav {
        width: 100%;
    }
    .line-separar {
        display: none;
    }
    .nav-bar {
        gap:1rem;
    }
    .line {
        width: 5%;
    }
    #btn-menu{
        right: 10px;
    }
}
