*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hover-header: #000000;
    --header-color: #e30613;
    --text-color: #ffffff;
    --secondary-color: #ffffff;
    --secondary-color-red: #a60000;
}  

.titulo-quantica{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-bottom: 3px solid #a60000;
    margin-left: 10em;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 100px;
    font-weight: 1000;
}

.conteudo-page{
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 20px;
    text-align: justify;
    font-family:'Montserrat', sans-serif;
    padding: 0 10% 5em;
}

h2{
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-left: 8rem;
    border-bottom: 3px solid #a60000;
    width:24.27%;
}

.text-section p{
    text-align: justify;
    hyphens: auto;
    word-spacing: 0.1em;
    text-align-last: left;
    margin-left: 8rem;
}

p{
    margin-left: 8rem;
    width: 85%;
}

.img-center{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.img-center img{
    height: 34rem;
    width: 34rem;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.img-center img:hover {
    transform: scale(1.09);
}

.conteudo-page2{
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 20px;
    text-align: justify;
    font-family:'Montserrat', sans-serif;
    padding: 0 10% 5em;
}

.conteudo-page2 h2{
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-left: 8rem;
    border-bottom: 3px solid #a60000;
    width:26.2%;
    margin-top: 7rem;
}

.conteudo-page3{
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 20px;
    text-align: justify;
    font-family:'Montserrat', sans-serif;
    padding: 0 10% 5em;
}

.conteudo-page3 h2{
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-left: 8rem;
    border-bottom: 3px solid #a60000;
    width:25.6%;
    margin-top: 7rem;
}

ul{
    font-size: 1em;
    line-height: 2.5em;
    margin-left: 9rem;
}

li.lista{
    list-style: disc;
}

@media (max-width: 768px){
    .conteudo-page{
        padding: 0 5% 5em;
    }

    h2{
        margin-left: 0;
        width: 100%;
    }

    .text-section p{
        margin-left: 0;
    }

    p{
        margin-left: 0;
        width: 100%;
    }

    .img-center{
        margin-top: 10px;
    }

    .img-center img{
        height: 20rem;
        width: 20rem;
    }

    .conteudo-page2{
        padding: 0 5% 5em;
    }

    .conteudo-page2 h2{
        margin-left: 0;
        width: 100%;
    }

    .conteudo-page3{
        padding: 0 5% 5em;
    }

    .conteudo-page3 h2{
        margin-left: 0;
        width: 100%;
    }

    ul{
        margin-left: 0;
    }
}
