.conteudo{
width: 20rem;
text-align: center;
flex-direction: column;
width: 100%;
display: flex;
gap: 20px;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}


.titulo-participantes{
    display: flex;
    margin-left: 10rem;
    font-size: 2rem;
    border-bottom: 3px solid #a60000;
}

.section-text{
text-align: justify;
hyphens: auto;
word-spacing: 0.1em;
text-align-last: left;
}

.image-section img{
    height: 30rem;
    width: 34rem;
    border-radius: 20px;
    box-shadow:  0px 4px 8px rgba( 0, 0, 0, 0.3);
}

.formulas-dinamica img{
    width: 11rem;
    height: auto;
}




