* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hover-header: #000000;
    --header-color: #e30613;
    --text-color: #ffffff;
    --secondary-color: #ffffff;
    --secondary-color-red: #a60000;
}

body{
    width: 100%;
}

.titulo-quantica {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-bottom: 3px solid #a60000;
    margin-left: 10em;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 100px;
    font-weight: 1000;
}

.conteudo-page {
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 20px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding: 0 10% 5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-left: 8rem;
    border-bottom: 3px solid #a60000;
    width: 24.27%;
}

.text-section {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 8rem;
}

.img-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.img-center img {
    height: 34rem;
    width: 34rem;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.img-center img:hover {
    transform: scale(1.09);
}

.conteudo-page2 {
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 20px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding: 0 10% 5em;
}

.conteudo-page2 h2 {
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    border-bottom: 3px solid #a60000;
    width: 26.2%;
    margin-top: 7rem;
}

.conteudo-page3 {
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 20px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding: 0 10% 5em;
}

.conteudo-page3 h2 {
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    border-bottom: 3px solid #a60000;
    width: 25.6%;
    margin-top: 7rem;
}

ul {
    margin-left: 9rem;
    line-height: 2rem;
}

li.lista {
    list-style: disc;
    line-height: 2rem;
}

@media (max-width: 320px) {

    .titulo-quantica,
    .titulo-conteudo {
        font-size: 1.5rem;
        margin-left: 0;
    }

    .conteudo-page,
    .conteudo-page2,
    .conteudo-page3 {
        padding: 0 5%;
    }

    h2 {
        width: 100%;
        font-size: 1.2rem;
        margin-left: 0;
    }

    .text-section {
        margin-left: 0;
    }

    .img-center img {
        width: 90%;
        height: auto;
    }

    ul {
        margin-left: 1rem;
    }
}

@media (max-width: 720px) {

    .titulo-quantica,
    .titulo-conteudo {
        font-size: 1.8rem;
        margin-left: 0;
    }

    .conteudo-page,
    .conteudo-page2,
    .conteudo-page3 {
        padding: 0 7%;
    }

    h2 {
        width: 100%;
        font-size: 1.3rem;
        margin-left: 0;
    }

    .text-section {
        margin-left: 0;
    }

    .img-center img {
        width: 80%;
        height: auto;
    }

    ul {
        margin-left: 2rem;
    }
}

@media (max-width: 1400px) {

    .titulo-quantica, .titulo-conteudo {
        font-size: 2rem;
        margin-left: 0;
    }

    .conteudo-page, .conteudo-page2, .conteudo-page3 {
        padding: 0 10%;
    }

    h2 {
        width: 100%;
        font-size: 1.5rem;
        margin-left: 0;
    }

    .text-section {
        margin-left: 0;
    }

    .img-center img {
        width: 70%;
        height: auto;
    }

    .img-center img {
        width: 70%;
        height: auto;
    }
}