
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --hover-header: #000000;
    --header-color: #e30613;
    --text-color: #ffffff;
    --secondary-color: #ffffff;
    --card-color: gray;
}

.card-noticias {
    background-color: var(--card-color);
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
}
.card-noticias img {
    width: 80%;
    height: 40%;
    margin-top: 1rem;
    border-radius: 1rem;
}
.menu-block:hover {
    transform: scale(1.03);   
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.menu-block h2 {
    color: #9A1915;
    font-size: 1.5em; 
    text-align: center;
    background-color: rgb(236, 226, 226);
}
.menu-block p {
    font-size: 1.3em; 
    line-height: 1.5; 
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.total-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}