@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.sobre-banner {
    display: block;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-home img {
    width: 100%;
    height: 500px;
}

.image-home {
    background-color:#000000;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.line-p {
    width: 22%;
    height: 4px;
    background-color: #a60000;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.line-p2 {
    width: 33.4%;
    height: 4px;
    background-color: #a60000;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.line-separar {
    background-color: #a60000;
    height: 4px;
    width: 400px;
    display: center;
    margin: auto;
    border-radius: 14px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #444;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #a60000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    width: 100%;
    max-width: 300px;
}

input[type="submit"]:hover {
    background-color: #a60000;
}


.resposta-certa {
    color: #a60000;
    font-weight: bold;
    display: none; 
}

.show-answer .resposta-certa {
    display: inline; 
}


.titulos-conteudos {
    display: flex;
    margin-bottom: 40px;
}

.simulado-img img {
    width: 300px;
}

.simulados-img-txt {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    width: 800px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}

.align {
    margin-left: 438px;
}


.container-simulados{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    height: 50vh;
}

.bloco-simulado{
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow:  0 0 0.8em  rgb(75, 72, 72);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 80%;
    padding: 20px;
    margin-left: 150px;
    cursor: pointer;
}


.bloco-simulado:hover {
    transform: scale(1.09);
    box-shadow:  0 0 0.8em  rgb(145, 0, 0);
}

.bloco-simulado span {
    text-shadow: 0 0 5px var(--main-color);
}

h2{
    font-family: "Merriweather", serif;
    color: #000000;
    font-size: 1.7em;
}

.foto-simulado{
    height: 10rem;
    border-radius: 10px;
    box-shadow:  0px 4px 8px rgba( 0, 0, 0, 0.3);
}

.link-simulado{
    background-color: #a60000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.imagem-simulado{
    border-radius: 20px;
    width: 17em;
}