
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --hover-header: #000000;
    --header-color: #e30613;
    --text-color: #ffffff;
    --secondary-color: #ffffff;
}

#container {
    width: 100%;
}


.menu-sobre {
    background-color: #f5f5f5;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
}

.menu-sobre ul {
    display: flex;
    gap: 25px;
}

.menu-sobre ul li {
    list-style: none;
}

.menu-sobre ul li a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #e0e0e0;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.menu-sobre ul li a.active,
.menu-sobre ul li a:hover {
    background-color: #a60000;
    color: white;
}
.image-home img {
    width: 100%;
    height: 500px;
}

.image-home {
    background-color:#000000;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.image-banner img {
    width: 100%;
    max-width: 1500px;
    height: auto;
    opacity: 0.7;
    margin-top: 0px;
}


.line-x {
    width: 17%;
    height: 3px;
    background-color: var(--header-color);
    display: flex;
    flex-direction: column;
}


.line-l {
    background-color: #D71920;
    height: 4px;
    width: 400px;
    display: center;
    margin: auto;
    border-radius: 14px;
}

.sobre {
    height: 50px;
    width: 500px;
    justify-content: center;
    text-align: justify;
    display: flex;
    margin-left: 300px;
    margin-top: 30px;
   
}

.titulo {
    margin-left: 300px;
    margin-top: 100px;
}

.line-s {
    background-color: #D71920;
    height: 4px;
    width: 400px;
    margin-left: 300px;  
}

.sobre-nos {
    align-items: center;
    justify-content: center;
 
}

.foto-sobre {
    display: flex;
    height: 350px;
    margin-left: 1500px;  
   margin-top: -100px;
    
}














































