
.titulo-participantes {
    display: flex;
    margin-top: 100px;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    border-bottom: 3px solid #a60000;
}

.titulos-conteudos {
    display: flex;
    gap: 160px;
    margin-left: 438px;
    margin-bottom: 40px;
}

.foto-carreira {
    display: flex;
    justify-content: space-around;
    margin: 0 400px;
}

.img-text {
    width: 290px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.text-header {
    color: #ffffff;
    display: flex;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -350px;
    transform: translate(100%, 100%);
    padding: 10px;
    border-radius: 5px;
}


.escritas-header {
    position: relative;
    width: 100%;
}

.escritas-header img {
    display: block;
}

.img-text p {
    margin-top: 6%;
    text-align: center;
    margin-bottom: 50%;
}

.foto-carreira2 {
    display: flex;
    justify-content: space-around;
    margin: 0 400px;
}

.img-text2 {
    width: 290px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}
.img-text2 p {
    margin-top: 6%;
    text-align: center;
}

.foto-carreira2 {
    display: flex;
    justify-content: space-around;
    margin: 0 400px;
}